Django==1.5.1
Markdown==2.2.1
Pygments==1.6
wsgiref==0.1.2
MySQL-python==1.2.4
PyYAML==3.10
certifi==14.05.14
django-debug-toolbar==0.9.4
django-endless-pagination==2.0
geoip2==0.6.0
ipaddr==2.1.11
maxminddb==0.3.3
requests==2.4.0
python-memcached==1.53
