Django==1.4.3
gunicorn==0.17.4
Markdown==2.2.1
Pygments==1.6
dj-database-url==0.2.1
wsgiref==0.1.2
psycopg2==2.4.6
django-storages==1.1.8
boto==2.9.2
PyYAML==3.10
django-debug-toolbar==0.9.4
git+git://github.com/kylef/django-request.git@de1cd04
newrelic
