body {
  color: rgb(110, 113, 115);
  background-color:  rgb(59, 98, 126);;
  font-size: 81.25%;             /* most likely 13px */
}

header {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
}

header ul {
  margin-left: 20px;
}

#container {
  background-color:  rgb(59, 98, 126);;
  border: none;
  margin: 0px auto 0px 10%;
  width: 100%;
  max-width: 600px;
}

#content {
  width: auto;
  float: none;
}

sidebar {
  display: none;
}

.entry {
  background-color: white;
  margin-bottom: 40px;
  box-shadow: 0px 15px 5px -10px  rgb(39, 78, 106);
  padding: 0.5em 1em 1em 1em;
}


h1 {
  font-size: 1.1em;
}

p, ul {
  text-align: left;
}

.entry-header, .entry-body {
  margin: auto 1em;
}

.footer-ref {
  float: right;
}

.date {
  float: left;
}

.entry-footer {
  margin-top: 1.5em;
  background-color: rgb(234, 234, 234);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85em;
  text-align: center;
}

h1 a, .entry-footer a {
  border-bottom-style: none;
}

a {
  color: rgb(110, 113, 115);
}

.image-block {
  text-align: center;
  margin: 1.5em auto;
}

@media screen and (max-width: 800px) {
  #container, header {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  #content, header ul {
    margin-left: 5px;
    margin-right: 5px;
  }
}
