h1 {
  font-size: 1.1em;
}

p {
  margin-left: 1em;
}

.entry {
  margin-bottom: 0em;
}

.header-wrapper {
  display: table;
  width: 100%
}

.header {
  display: table-cell;
}

.date {
  display: table-cell;
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  color:rgb(200, 195, 183);
  white-space: nowrap;
}

.tags {
  margin-top: 0.5em;
  font-size: 0.75em;
  font-style: italic;
  text-align: right;
}

p {
  /* heading's default margins are sufficient */
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  border-bottom-style: none;
}