{% load i18n static %}

<div class="about">
    <h4>{% trans "About me:" %}</h4>
    <div class="about-image">
        <img src="{% static "images/me.png" %}" alt="me">
    </div>
    <p itemscope itemtype="http://schema.org/Person">
    {% if LANGUAGE_CODE == "en" %}

        My name is <span itemprop="name">Vyacheslav Levit</span> and
        I'm a <span itemprop="jobTitle">developer</span>
        from <span itemprop="homeLocation">Odessa, Ukraine</span>.
        This blog is mostly on Linux, Python & Bash tools and web
        development.
        <a itemprop="url" href="{% url "page" "about" %}">More...</a>

    {% else %} {# "ru" #}

        Мое имя <span itemprop="name">Вячеслав Левит</span>. Я
        <span itemprop="jobTitle">разаботчик</span>
        из <span itemprop="homeLocation">Одессы</span>. Здесь я пишу в
        основном о Python и Bash инструментах для Linux,
        программировании и веб-разработке.
        <a itemprop="url" href="{% url "page" "about" %}">Подробнее...</a>

    {% endif %}
    </p>
</div>
