{% load i18n static %}

<div class="about">
    <h4>{% trans "About me:" %}</h4>
    <div class="about-image">
        <img src="{% static "images/me.png" %}">
    </div>
    <p>
    {% if LANGUAGE_CODE == "en" %}

        My name is Vyacheslav Levit and I am a programmer from Odessa, Ukraine.
        I write here mostly on Linux, Shell (Bash), and Python tools I have
        developed or I discovered and felt like they worth more
        attention. <a href="{% url "page" "about" %}">More...</a>

    {% else %} {# "ru" #}

        Меня зовут Вячеслав Левит. Я программист из Одессы. В этом блоге я пишу
        в основном об инструментах для Linux, написанных мной чаще всего на
        Python или Shell (Bash), и о не самых популярных, но заслуживающих
        внимания, программах. <a href="{% url "page" "about" %}">Подробнее...</a>

    {% endif %}
    </p>
</div>
