{% extends "base.html" %}
{% load i18n static threadedcomments_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{page.title}}" href="{% url "page_comments_feed" page.name %}">
    {{block.super}}
{% endblock %}

{% block headlinks %}
    <link rel="stylesheet" href="{% static "css/tech_post.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/pygments.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/comments.css" %}" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/comments.js" %}"></script>
{% endblock %}

{% block url_ru %}{% url "page" page.name %}{% endblock%}
{% block url_en %}{% url "page" page.name %}{% endblock%}

{% block content %}
    <h1>{{ page.title|safe }}</h1>
    {{ page.body|safe }}

    <div class="comment-header-wrapper">
        <h2 id="comment-header">{% trans "Comments" %}</h2>
        <a href="{% url "page_comments_feed" page.name %}" title="{% trans "Subscribe to comments on" %} {{page.title}}">
            <img class="img-middle" src="{% static "images/rss16.png" %}" alt="RSS">
        </a>
    </div>
    {% render_comment_list for page %}
    {% render_comment_form for page %}

{% endblock %}

{% block sidebar %}
    {% include "about.html" %}
{% endblock %}
