<!DOCTYPE html>{% load i18n %}
<html lang="{{LANGUAGE_CODE}}">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="{% block keywords %}Linux, Music, Noise, Life, Death{% endblock %}">
        <meta name="author" content="Vyacheslav Levit">
        <meta name="description" content="{% block description %}Personal website about everything and nothing{% endblock %}">
        <title>{{post.title}}</title>
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">
        <link rel="stylesheet" href="/static/css/pygments.css" type="text/css">
    </head>
    <body>
        <div id="container">
            <div id="sidebar">{% block sidebar %}{% endblock %}</div>
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
    </body>
</html>
