{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="{% block keywords %}Linux, Music, Noise, Life, Death{% endblock %}">
        <meta name="author" content="Vyacheslav Levit">
        <meta name="description" content="{% block description %}Personal website about everything and nothing{% endblock %}">
        <title>{% block title %}{% endblock %} - Vyacheslav Levit</title>
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">
        {% block headlinks %}{% endblock %}
    </head>
    <body>

        <header>
            <ul class="sitenav">
                {% if LANGUAGE_CODE == "en" %}
                    <li><a class="{% block tech_active %}{% endblock %}" href="{% url post_list "tech" %}">Tech</a></li>
                    {% language "ru" %}<li><a class="{% block life_active %}{% endblock %}" href="{% url post_list "life" %}">Life<sup>RU</sup></a></li>{% endlanguage %}
                    {% language "en" %}<li><a class="{% block death_active %}{% endblock %}" href="{% url post_list "death" %}">Death</a></li>{% endlanguage %}
                    {% language "ru" %}
                        <li><a class="{% block music_active %}{% endblock %}" href="{% url post_list "music" %}">Music<sup>RU</sup></a></li>
                        <li><a class="{% block noise_active %}{% endblock %}" href="{% url post_list "noise" %}">Noise<sup>RU</sup></a></li>
                    {% endlanguage %}
                {% else %} {# "ru" #}
                    <li><a class="{% block tech_active_ru %}{% endblock %}" href="{% url post_list "tech" %}">Тех</a></li>
                    <li><a class="{% block life_active_ru %}{% endblock %}" href="{% url post_list "life" %}">Жизнь</a></li>
                    <li><a class="{% block death_active_ru %}{% endblock %}" href="{% url post_list "death" %}">Смерть</a></li>
                    <li><a class="{% block music_active_ru %}{% endblock %}" href="{% url post_list "music" %}">Музыка</a></li>
                    <li><a class="{% block noise_active_ru %}{% endblock %}" href="{% url post_list "noise" %}">Шум<sup></sup></a></li>
                {% endif %}
            </ul>
            <div class="langbar">
                {% block langbar %}
                    {% if LANGUAGE_CODE == "en" %}
                        English | <a href="/ru/">Русский</a>
                    {% else %}
                        <a href="/en/">English</a> | Русский
                    {% endif %}
                {% endblock %}
            </div>

            <div class="blog-title"><h1>{% block blog_title %}{% endblock %}</h1></div>
        </header>

        <div id="container">
            <div id="column-content">
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
            <div id="column-sidebar">
                <div id="sidebar">{% block sidebar %}{% endblock %}</div>
            </div>
            <div class="clear"></div>
        </div>

    </body>
</html>
