{% extends "post_list.html" %}
{% load static %}

{% block headlinks %}
    <link rel="stylesheet" href="{% static "css/noise_post.css" %}" type="text/css">
{% endblock %}

{% block langbar %}{% endblock %}

{% block noise_active %}active{% endblock %}
{% block noise_active_ru %}active{% endblock %}

{% block content %}

    {% for post in posts %}
        {% include "post_block.html" %}
    {% endfor %}

    <div class="navigation">

        {% if posts.has_previous %}
            <a href="{% url "post_list_page" "noise" posts.previous_page_number %}"> ← предыдущая</a>
        {% endif %}

        {% if posts.has_next %}
            <a href="{% url "post_list_page" "noise" posts.next_page_number %}"> следующая страница →</a>
        {% endif %}

    </div>

{% endblock %}
