{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ post.title|safe }}{% endblock %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="{{post.blog.description}}" href="{% url blog_feed post.blog.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{post.title}}" href="{% url post_comments_feed post.blog.name post.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{post.blog.description}}" href="{% url blog_comments_feed post.blog.name %}">
    {{block.super}}
{% endblock %}

{% block headlinks %}{% endblock %}

{% block blog_title %}{{post.blog.description}}{% endblock %}

{% block headline_feed %}
    <a href="{% url blog_feed post.blog.name %}" title="{% trans "Subscribe to " %} {{post.blog.description}}">
        <img class="img-middle" src="{% static "images/rss.svg" %}" width="18px">
    </a>
{% endblock %}

{% block content %}
    {% include "post_block.html" %}
{% endblock %}
