{% load i18n vlblog_tags %}

<div class="entry">
    <div class="entry-header"><h1><a href="{% url "post" blog.name post.name %}">{{ post.title|safe }}</a></h1></div>
    <div class="entry-body">
        {{ post.body|safe }}
    </div>
    <div class="entry-footer">
        <div class="date">
            {% trans "Published:" %} {{ post.created|timesince|upto:","}} {% trans "ago" %}
        </div>
        <span class="tags">
            {% for tag in post.tags.all %}
                <a href="{% url "post_list_tag" blog.name tag.name %}">{{tag.name}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
        <div class="footer-ref"><a href="{% url "post" blog.name post.name %}">↷</a></div>
        <div class="clear"></div>
    </div>
</div>
