{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ blog.description }}{% endblock %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="{{blog.description}}" href="{% url blog_feed blog.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{blog.description}}" href="{% url blog_comments_feed blog.name %}">
    {{block.super}}
{% endblock %}

{% block headlinks %}{% endblock %}

{% block blog_title %}{{blog.description}}{% endblock %}

{% block content %}
    {% for post in posts %}
        {% include "post_block.html" %}
    {% endfor %}
{% endblock %}
