{% load i18n %}

<ul class="sitenav">
    {% if LANGUAGE_CODE == "en" %}
        <li><a href="{% url post_list "tech" %}">Tech</a></li>
        {% language "ru" %}<li><a href="{% url post_list "life" %}">Life<sup>RU</sup></a></li>{% endlanguage %}
        {% language "en" %}<li><a href="{% url post_list "death" %}">Death</a></li>{% endlanguage %}
        {% language "ru" %}
            <li><a href="{% url post_list "music" %}">Music<sup>RU</sup></a></li>
            <li><a href="{% url post_list "noise" %}">Noise<sup>RU</sup></a></li>
        {% endlanguage %}
    {% else %} {# "ru" #}
        <li><a href="{% url post_list "tech" %}">Тех</a></li>
        <li><a href="{% url post_list "life" %}">Жизнь</a></li>
        <li><a href="{% url post_list "death" %}">Смерть</a></li>
        <li><a href="{% url post_list "music" %}">Музыка</a></li>
        <li><a href="{% url post_list "noise" %}">Шум<sup></sup></a></li>
    {% endif %}
</ul>
