{% extends "tech_base.html" %}
{% load i18n static threadedcomments_tags %}

{% block keywords %}{{ tags|join:', ' }}{% endblock %}
{% block description %}{{ blog.description }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="{{blog.description}}" href="{% url "blog_feed" blog.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{post.title}}" href="{% url "post_comments_feed" blog.name post.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{blog.description}}" href="{% url "blog_comments_feed" blog.name %}">
    {{block.super}}
{% endblock %}

{% block headlinks %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "css/pygments.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/comments.css" %}" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/comments.js" %}"></script>
{% endblock %}

{% block langbar %}
    {% if LANGUAGE_CODE == "en" %}
        {% language "ru" %}
            {% if "ru" in languages %}
                English | <a href="{% url "post" blog.name post.name %}">Русский</a>
            {% else %}
                English | <a href="/ru/">Русский</a>
            {% endif %}
        {% endlanguage %}
    {% else %}
        {% language "en" %}
            {% if "en" in languages %}
                <a href="{% url "post" blog.name post.name %}">English</a> | Русский
            {% else %}
                <a href="/en/">English</a> | Русский
            {% endif %}
        {% endlanguage %}
    {% endif %}
{% endblock %}

{% block blog_title %}{{blog.description}}{% endblock %}

{% block headline_feed %}
    <a href="{% url "blog_feed" blog.name %}" title="{% trans "Subscribe to " %} {{blog.description}}">
        <img class="img-middle" src="{% static "images/rss18.png" %}">
    </a>
{% endblock %}

{% block content %}
    <article itemscope itemtype="http://schema.org/BlogPosting" class="clearfix">
        <h1 itemprop="name">{{ post.title|safe }}</h1>
        <div itemprop="text articleBody">
            {{ post.body|safe }}
        </div>
        <div class="article-footer clearfix">
            <a itemprop="url" class="footer-permalink" href="{{ post.get_absolute_url }}">
                {% with post.created.isoformat as isodate %}
                    <time datetime="{{ isodate }}">
                        <abbr itemprop="dateCreated" title="{{ isodate }}">{{ post.created| date:"d E Y" }}</abbr>
                    </time>
                {% endwith %}
            </a>
            {% with shareurl=request.build_absolute_uri %}
                <div class="share-links">
                    Share on
                    <a target="_blank" href="https://plus.google.com/share?url={{ shareurl | urlencode }}&hl={{ LANGUAGE_CODE }}">Google+</a> or
                    <a target="_blank" href="https://twitter.com/share?url={{ shareurl | urlencode }}&text={{ post.title | urlencode }}">Twitter</a> or
                    <a target="_blank" href="//www.reddit.com/submit?url={{ shareurl | urlencode }}&title={{ post.title | urlencode }}">reddit</a>
                </div>
            {% endwith %}
        </div>
    </article>
    <div class="comment-header-wrapper">
        <h2 id="comment-header">{% trans "Comments" %}</h2>
        <a href="{% url "post_comments_feed" blog.name post.name %}" title="{% trans "Subscribe to comments on" %} {{ post.title }}">
            <img class="img-middle" src="{% static "images/rss16.png" %}">
        </a>
    </div>
    {% render_comment_list for post %}
    {% render_comment_form for post %}
{% endblock %}
