{% extends "base.html" %}
{% load i18n threadedcomments_tags%}

{% block keywords %}{{ post.tags.all|join:', ' }}{% endblock %}
{% block description %}{{ post.blog.description }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block headlinks %}
    <link rel="stylesheet" href="/static/css/pygments.css" type="text/css">
    <link rel="stylesheet" href="/static/css/comments.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/comments.js"></script>
{% endblock %}

{% block langbar %}
    {% if LANGUAGE_CODE == "en" %}
        {% language "ru" %}
            English | <a href="{% url post post.blog.name post.name %}">Русский</a>
        {% endlanguage %}
    {% else %}
        {% language "en" %}
            <a href="{% url post post.blog.name post.name %}">English</a> | Русский
        {% endlanguage %}
    {% endif %}
{% endblock %}

{% block tech_active %}active{% endblock %}
{% block tech_active_ru %}active{% endblock %}

{% block blog_title %}{{post.blog.description}}{% endblock %}

{% block content %}
    <h1>{{ post.title|safe }}</h1>
    {{ post.body|safe }}
    <hr>
    <h3 id="comment-header">{% trans "Comments" %}</h3>
    {% render_comment_list for post %}
    {% render_comment_form for post %}
{% endblock %}

{% block sidebar %}
    {% for tag in post.tags.all %}
        {% if forloop.first %}
            {% trans "Tags:" %}
            <ul class="tag_list">
        {% endif %}
        <li><a href="{% url post_list_tag post.blog.name tag.name%}">{{tag.name}}{% if tag.n_posts > 1 %}<sup>{{tag.n_posts}}</sup>{% endif %}</a></li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
