{% extends "tech_base.html" %}
{% load i18n threadedcomments_tags %}

{% block keywords %}{{ post.tags.all|join:', ' }}{% endblock %}
{% block description %}{{ post.blog.description }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="{{post.blog.description}}" href="{% url blog_feed post.blog.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{post.title}}" href="{% url post_comments_feed post.blog.name post.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{post.blog.description}}" href="{% url blog_comments_feed post.blog.name %}">
    {{block.super}}
{% endblock %}

{% block headlinks %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "css/pygments.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/comments.css" %}" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/comments.js" %}"></script>
{% endblock %}

{% block url_ru %}{% url post post.blog.name post.name %}{% endblock%}
{% block url_en %}{% url post post.blog.name post.name %}{% endblock%}

{% block blog_title %}{{post.blog.description}}{% endblock %}

{% block headline_feed %}
    <a href="{% url blog_feed post.blog.name %}" title="{% trans "Subscribe to " %} {{post.blog.description}}">
        <img class="img-middle" src="{% static "images/rss.svg" %}" width="18px">
    </a>
{% endblock %}

{% block content %}
    <h1>{{ post.title|safe }}</h1>
    {{ post.body|safe }}
    <hr>
    <div class="comment-header-wrapper">
        <h2 id="comment-header">{% trans "Comments" %}</h2>
        <a href="{% url post_comments_feed post.blog.name post.name %}" title="{% trans "Subscribe to comments on" %} {{post.title}}">
            <img class="img-middle" src="{% static "images/rss.svg" %}" width="16px">
        </a>
    </div>
    {% render_comment_list for post %}
    {% render_comment_form for post %}
{% endblock %}
