{% extends "tech_base.html" %}
{% load i18n static %}

{% block title %}{{ blog.description }}{% endblock %}

{% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="{{blog.description}}" href="{% url "blog_feed" blog.name %}">
    <link rel="alternate" type="application/rss+xml" title="{% trans "Comments on" %} {{blog.description}}" href="{% url "blog_comments_feed" blog.name %}">
    {{block.super}}
{% endblock %}


{% block url_ru %}{% url "post_list" blog.name %}{% endblock%}
{% block url_en %}{% url "post_list" blog.name %}{% endblock%}

{% block blog_title %}{{blog.description}}{% endblock %}

{% block headline_feed %}
    <a href="{% url "blog_feed" blog.name %}" title="{% trans "Subscribe to " %} {{blog.description}}">
        <img class="img-middle" src="{% static "images/rss18.png" %}">
    </a>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="entry" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="entry-header">
               <div class="entry-title">
                   <h1 itemprop="name">
                       <a itemprop="url" href="{{ post.get_absolute_url }}">{{ post.title|safe }}</a>
                   </h1>
               </div>
               {% with post.created.isoformat as isodate %}
                   <time datetime="{{ isodate }}" class="entry-date">
                       <abbr itemprop="dateCreated" title="{{ isodate }}">{{ post.created| date:"d M Y" }}</abbr>
                   </time>
               {% endwith %}
            </header>
            <div itemprop="description">
                {{ post.excerpt|safe }}
            </div>
           <div class="entry-tags">{% for tag in post.tags.all %}<a href="{% url "post_list_tag" post.blog.name tag.name %}">{{tag.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        </article>
    {% endfor %}
{% endblock %}
