{% extends "tech_base.html" %}
{% load i18n %}

{% block title %}{{ blog.description }}{% endblock %}

{% block langbar %}
    {% if LANGUAGE_CODE == "en" %}
        {% language "ru" %}
            English | <a href="{% url post_list blog.name %}">Русский</a>
        {% endlanguage %}
    {% else %}
        {% language "en" %}
            <a href="{% url post_list blog.name %}">English</a> | Русский
        {% endlanguage %}
    {% endif %}
{% endblock %}

{% block blog_title %}{{blog.description}}{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="entry">
            <div class="entry-header-wrapper">
               <div class="entry-header"><h1><a href="{% url post post.blog.name post.name %}">{{ post.title|safe }}</a></h1></div>
               <div class="entry-date">{{post.created|date:"d M Y"}}</div>
           </div>
            {{ post.excerpt|safe }}
           <div class="entry-tags">{% for tag in post.tags.all %}<a href="{% url post_list_tag post.blog.name tag.name %}">{{tag.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        </div>
    {% endfor %}
{% endblock %}
